

.cabecalho {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #000000;
    height: 20vh;
}

.cabecalho img {
    width: 30%;
    max-width: 30%;
    display: block;
}

.cabecalho nav {
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: 100%;
    flex-wrap: wrap;
}

.cabecalho a {
    text-decoration: none;
    color: #ec145c;
    padding: 0%;
    position: relative;
    top: 35%;
    font-size: 3em;
    font-family: 'Towards', sans-serif;
    font-weight: 450;
    
}

.cabecalho a:hover {
    color: #fff;
    transition: 0.5s;
}
.line{
    margin: 0%;
    padding: 0%;
    width: 90%;
    height: 1px;
    margin-top: 1%;
    margin-left: 5%;
    justify-content: space-around;
    
    background-color: #ec145c;
}