
.conteudo {
    display: flex;
    margin: 5%;

    justify-content: center;
}


div img {
    max-width: 100%;
    display: flex;
    margin: 0 auto ;
    justify-content: space-around;
    align-items: center;
    width: 330px;
    height: 180px;
}


div{
    width: 410px;
    border: 1px solid #201f20;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 8px;
}
div:hover{
    border: 1px solid #ec145c;
    color: white;
}
div h2:hover{
    color: #fff;
    transition: 0.6s;
}
div h2{
    color: #ec145c;
    font-family:  "Gotham HTF";
    font-size: 34px;
    text-align: center;

}
div figure figcaption{
    color: rgb(0, 0, 0);
    font-family:  "Gotham HTF";
    text-align: center;
    font-size: 16px
}
