@import url("./cabecalho.css");
@import url("./rodape.css");
@import url("./conteudo.css");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #8d8d8d;
}

@font-face{
    font-family: 'Towards';
    src: url(../Towards/towards_-webfont.woff2) format('woff2'),
         url(../Towards/towards_-webfont.woff) format('woff');
}
html{
    font-size: 62.5%;
}
