*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.tit-sec{
    text-align: center;
    font-size: 5rem;
    margin: 5% 0;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #14141a;
    height: 23vh;
}

.cabecalho img {
    width: 30%;
    max-width: 30%;
    display: block;
}

.cabecalho nav {
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: 100%;
    flex-wrap: wrap;
}

.cabecalho a {
    text-decoration: none;
    color: #ec145c;
    text-align: center;
    font-size: 4em;
    font-family:system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-weight: 650;
    top: auto;
}

.cabecalho a:hover {
    background-color: #fff;
    color: #000000;
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
    max-width: 50vw;
    margin: 0 auto;
}

.conteudo img {
    max-width: 100%;
    display: block;
}

/* 
Utilizando as propriedades especificas
GROW/BASIS/SHRINK */
.conteudo>div {
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px; */
    flex: 1 1 300px;
}

.conteudo table{
    border-collapse:  collapse;
}

.conteudo table th,td{
    border: 2px solid #000000;
}
.rodape{
    display: flex;
    background-color: #d9d9d9;
    height: 20vh;
    justify-content: center;
    align-items: center;
}

.rodape h2{
    flex-grow: 2;
    flex-basis: 100px;
    text-align: center;
}

.rodape nav{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape nav a{
    flex-grow: 1;
    padding: 5% 0;
}

.rodape nav a:hover{
    background-color: rgba(75, 72, 72, 0.664);
}


.rodape nav img{
    max-width: 20%;
    display: block;
    margin: 0 auto;
}